# data/models/artifacts
src/GDrive/
*.tfrecord
*.pb
*.zip
*.data-*
*.index
*.bin

# directories to exclude from git
src/checkpoints/
src/data/
bitvla-tar/data/
bitvla-tar/checkpoints/
bitvla-tar/runs/
bitvla-tar/logs/
bitvla-tar/wandb/

# python / misc
__pycache__/
*.pyc
.DS_Store
